@use '../abstracts' as *;
html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: $fs-main;
  @include mqMax(lg) {
    font-size: 95%;
  }
  @include mqMax(md) {
    font-size: 90%;
  }
}

body {
    font-family: var(--font-family);
    background-color: var(--gray-50-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: var(--gray-800-color);
  margin-bottom: 0;
}

h1 {
  font-size: clamp(1.8rem, 5vw + 1rem, 3.5rem);
  line-height: 1.2;
}

h2 {
  font-size: clamp(1.5rem, 4vw + 0.8rem, 2.8rem);
  line-height: 1.3;
}

h3 {
  font-size: clamp(1.3rem, 3vw + 0.6rem, 2.2rem);
}

h4 {
  font-size: clamp(1.1rem, 2vw + 0.5rem, 1.8rem);
}

h5 {
  font-size: clamp(1rem, 1.5vw + 0.5rem, 1.5rem);
}

h6 {
  font-size: clamp(0.9rem, 1.2vw + 0.4rem, 1.2rem);
}


a {
  color: var(--primary-color);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    color: var(--gray-50-color);
  }
}