<section class="users-page">
  <div class="container-fluid">
    <header
      class="header-page d-flex justify-content-between align-items-center"
    >
      <h4>Users</h4>
      
    </header>
    <div class="row">
      <div class="col-lg-12">
        <div class="content mb-4">
          <div class="card-widget">
            <div class="">
              <p-table
                #dt2
                dataKey="id"
                [value]="usersList"
                [rows]="PageSize"
                [rowsPerPageOptions]="[5, 10, 20]"
                [paginator]="true"
                [showCurrentPageReport]="true"
                [totalRecords]="totalRecords"
                responsiveLayout="scroll"
                currentPageReportTemplate=""
                [globalFilterFields]="['name', 'username', 'email']"
              >
                <ng-template #caption>
                  <div class="d-flex">
                    <div class="col-lg-3 offset-lg-9">
                      <div class="input-group">
                        <span class="input-group-text" id="basic-addon1"
                          ><i class="fa-solid fa-magnifying-glass"></i
                        ></span>
                        <input
                          type="search"
                          class="form-control"
                          placeholder="Search keyword"
                          (input)="
                            dt2.filterGlobal(
                              $any($event.target).value,
                              'contains'
                            )
                          "
                        />
                      </div>
                    </div>
                  </div>
                </ng-template>
                <ng-template #header>
                  <tr>
                    <th pSortableColumn="name">
                      Name <p-sortIcon field="name" />
                    </th>
                    <th pSortableColumn="username">
                      Username <p-sortIcon field="username" />
                    </th>
                    <th pSortableColumn="email">
                      Email <p-sortIcon field="email" />
                    </th>
                    <th>Action</th>
                  </tr>
                </ng-template>
                <ng-template #body let-user>
                  <tr [pSelectableRow]="user">
                    <td [attr.data-label]="'Code'">
                      <div class="truncate">{{ user.name }}</div>
                    </td>
                    <td [attr.data-label]="'Name'">
                      <div class="truncate-string-7">{{ user.username }}</div>
                    </td>
                    <td [attr.data-label]="'Category'">{{ user.email }}</td>
                    <td class="">
                        <div class="d-flex align-items-center">
                            <a class="btn btn-primary btn-sm" [routerLink]="[`/user-details`,user.id]"><i class="fa-regular fa-eye"></i></a>
                        </div>
                    </td>
                  </tr>
                </ng-template>
                <ng-template #emptymessage>
                    <tr>
                        <td colspan="4">
                            <div class="error-s">
                            <i><img src="./assets/imgs/NoDataFound.svg" alt=""/></i>
                            <h1><span>No</span> Data Found <span>!</span></h1>
                            </div>
                            <!--error-s-->
                        </td>
                    </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<p-toast >
    <ng-template let-message #message>
            <div class="flex flex-col items-start flex-auto">
                <h6 class="text-danger">{{ message.summary }}</h6>
                <div class="font-medium text-lg my-4">{{ message.detail }}</div>
                    <button class="btn btn-danger btn-sm" (click)="retryCall()">Retry Call Endpoint</button>

            </div>
        </ng-template>
</p-toast>
