@use '../abstracts' as *;
.sidebar {
    background-color: var(--white-color)    ;
    padding-inline: rem(20px);
    position: sticky;
    top: 0;
    height: 100vh;
    width: var(--sidebar-width-xl);
    border-inline-end: rem(1) solid var(--gray-200-color);
    overflow: hidden;
    @include mqMax(lg) {
        width: var(--sidebar-width-sm) ;
    }
    .header-sidebar {
        padding: rem(10) rem(20) ;
        .logo-text {
            display: block;
        }
        .logo-icon {
            display: none;
            width: rem(40);
            height: rem(40);
        }
    }
    ul {
        list-style-type: none;
        margin: 0; 
        padding: rem(20);
        display: flex;
        flex-direction: column;
        gap: rem(4);
        h6 {
            font-size: rem(14);
            font-weight: 500;
            color: var(--gray-500-color);
            margin-bottom: rem(20);
            text-transform: uppercase;
        }
        li {
            a {
                padding: rem(10) rem(20);
                display: flex;
                align-items: center;
                gap: rem(20);
                text-decoration: none;
                border-radius: rem(8);
                color: var(--gray-700-color);
                font-weight: 500;
                .icon {
                    flex: 0 0 rem(20);
                    width: rem(20);
                    height: rem(20);
                    text-align: center;
                }
                .text {
                    transition: all 0.3s ease-in-out;
                    color: var(--gray-700-color);
                }
                &.active {
                    background-color: color-mix(in srgb, var(--primary-color-light) 10%, transparent);
                    color: var(--primary-color-light);
                }
                &:not(.active):hover {
                    background-color: var(--gray-100-color);
                }
            }
        }
    }
    &.collapsed {
        width: var(--sidebar-width-sm);
        .header-sidebar {
            padding: rem(10) rem(20) ;
            .logo-text {
                display: none;
            }
            .logo-icon {
                display: block;
            }
        }
        ul {
            h6 {
                display: none;
            }
            li {
                a {
                    padding: rem(10) rem(10);
                    gap: rem(40);
                }
            }
        }
    }
    @include mqMax(lg) {
        width: var(--sidebar-width-sm);
        .header-sidebar {
            padding: rem(10) rem(20) ;
            .logo-text {
                display: none;
            }
            .logo-icon {
                display: block;
            }
        }
        ul {
            h6 {
                display: none;
            }
            li {
                a {
                    padding: rem(10) rem(10);
                    gap: rem(40);
                }
            }
        }
    
    }
}