@use '../abstracts' as *;
.error-page {
    height: 100vh;
    display: grid;
    place-items: center;
    .error-cantent {
        background-color: var(--white-color);
        text-align: center;
        padding: rem(24);
        border-radius: rem(24);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
}
.error-s {
  text-align: center;
  padding: rem(5);

  img {
    max-width: 160px;
  }

  h1 {
    font-size: var(--s-16);
    margin-top: rem(10);
  }
}